BODY {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
BODY {
	MARGIN-TOP: 3px; MARGIN-LEFT: 3px; BACKGROUND-COLOR: #e6ecf9
}
.pageClass {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; TEXT-DECORATION: none
}
A.pageClass:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; TEXT-DECORATION: none
}
A.pageClass:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; TEXT-DECORATION: none
}
A.pageClass:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; LINE-HEIGHT: 12pt; TEXT-DECORATION: none
}
A.LinkBlock:link {
	BORDER-RIGHT: #1972bd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #1972bd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #1972bd 1px solid; COLOR: #1972bd; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #1972bd 1px solid; HEIGHT: 24px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.LinkBlock:visited {
	BORDER-RIGHT: #1972bd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #1972bd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #1972bd 1px solid; COLOR: #1972bd; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #1972bd 1px solid; HEIGHT: 24px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.LinkBlock:active {
	BORDER-RIGHT: #1972bd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #1972bd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #1972bd 1px solid; COLOR: #1972bd; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #1972bd 1px solid; HEIGHT: 24px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
A.LinkBlock:hover {
	BORDER-RIGHT: #1972bd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #1972bd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #1972bd 1px solid; COLOR: #ffcc00; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #1972bd 1px solid; HEIGHT: 24px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.PushBlock {
	BORDER-RIGHT: #1972bd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #1972bd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #1972bd 1px solid; COLOR: #fff; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #1972bd 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #1972bd; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.moveBlock {
	BORDER-RIGHT: #1972bd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #1972bd 1px solid; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; BORDER-LEFT: #1972bd 1px solid; COLOR: #1972bd; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-BOTTOM: #1972bd 1px solid; HEIGHT: 24px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.moveBlock INPUT {
	MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; HEIGHT: 18px
}
