html,body,div,img,table,th,td,iframe,form,dd,dt,dl,h1,h2,h3,h4,h5,h6,p,span,ul,ol,li{ margin:0; padding:0;}
body{font:12px/24px song, verdana;}
a{ color:#000; text-decoration:none;}
a:hover{ color:#07f; text-decoration:underline;}
a img{ border:0;}
ul,ol{ list-style:none;}
.left{ float:left;}
.right{ float:right;}
.input_1{
	border:1px solid #a6d0e8;
	vertical-align:middle;
	margin:4px 0;
	height:16px;
	background-color: #000000;
}

 
.main { clear:both; margin:0 auto 8px; padding-bottom:2px; height: 1%;width: 845px; overflow:auto; }

#top{ padding:5px; height:18px; overflow:hidden; background:#eee; border-bottom:1px solid #ccc; line-height:18px;}
#header{ clear:both; background:#c7dfe9; padding:7px 10px; width:825px;}
	#quicklink{ width:74px; height:80px;}
	#quicklink a{ width:70px; height:16px; display:block; background:#39c; border:1px solid #c7dfeb; text-align:center; line-height:16px; color:#fff;}
	#quicklink li{ padding:1px; background:#39c; margin-bottom:6px; line-height:18px;}
	#logo{ float:left; width:160px; height:80px;}
	#ad_top{ width:574px; height:72px;}
#menu{ clear:both; height:30px; background:url(../images/menu.gif) repeat-x left top; border-left:1px solid #a6d0e8; border-right:1px solid #a6d0e8;  padding:0 10px; overflow:hidden; width:823px;}
#menu a{ float:left; width:74px; height:30px; display:block; text-align:center; line-height:30px;background:url(../images/menu_bg_a.gif) no-repeat center top;}
#menu a:hover,#menu a.sel{ background:url(../images/menu_bg.gif) no-repeat center top; color:#fff; font-weight:bold; text-decoration: none;}
.sel{ background:url(../images/menu_bg.gif) no-repeat center top; color:#fff; font-weight:bold; text-decoration: none;}
#note{ background:url(../images/note.gif) repeat-x left top; line-height:31px; color:#fff; padding:0 10px; border-left:1px solid #0a70a1; border-right:1px solid #0a70a1;}

.ad_6{ width:845px;}
.ad_6 img{ margin:8px 6px;}

.login{ background:url(../images/login.gif) no-repeat left top; height:34px; padding:0 10px; line-height:34px;}

.title_1{ height:34px; padding:0 10px; line-height:34px;}
.title_1 h2,.login h2{ width:98px; height:34px; overflow:hidden; float:left; font:bold 14px/45px song, verdana; color:#fff; padding-left:18px;}


.login h2{ padding-left:7px;}
.title_1 .ad_text,.login .ad_text{ width:452px; height:34px; overflow:hidden; float:left;}
.login .ad_text{ height:32px; line-height:32px;}
.title_1 .reach{ float:right; width:260px; line-height:18px; vertical-align:bottom; height:18px; margin-top:8px;}
.title_1 .input_2{ border:1px solid #999;}

#goldreach{ border:1px solid #ccc; padding:3px 2px; height:17px; clear:both; width:841px;}
#goldreach a{ background:url(../images/zm1.gif) no-repeat center; width:17px; height:17px; text-align:center; display:block; line-height:16px; float:left; margin-left:2px;}
#goldreach a:hover{ background-image:url(../images/zm2.gif); color:#000; text-decoration:none;}
.ahover{ background-image:url(../images/zm2.gif); color:#000; text-decoration:none;}
.leftbar{
	font-family: "ו";
	font-size: 14px;
	color: #333333;
	text-decoration: none;
	line-height: 24px;
    writing-mode:tb-rl;
	height:59px;
}
.rightbar{ width:816px; float:right; clear:right;}
.rightbar table{ width:100%; font:12px/32px song, verdana; text-align:center; background:#9cf;}
.rightbar table td{ background:#fff;}

#reach{ background:url(../images/reach.gif) repeat-x left top; height:39px; padding-top:22px; text-align:center; border:1px solid #7dc7ec;}

#footer{ padding:8px 100px 0; text-align:center; line-height:18px;}

#history{ width:128px; border:1px solid #a7cadd;}
#history .top{ background:#319dce; color:#fff; font:12px/23px song, verdana; text-align:center;}
#history .webs{ padding:5px;}

.red,a.red:hover{ color:#f00;}
.blue,a.blue:hover{ color:#00f;}
.yel{ color:#ff6;}



#info{width:693px;}
#info ul{ margin:0;}
#info li{ width:77px; height:28px; float:left;}
#info li a{line-height:28px; display:block;background:url("/images/bx039.gif") no-repeat;text-align: center;}
#info li a:link,#info li a:visited{ font-size:12px; text-decoration:none; color:#ffffff; background-position:center top;text-align: center;}
#info li a:hover,#info li a:active{
	font-size:12px;
	text-decoration:none;
	color:#000000;
	font-weight :bolder;
	background-position:center bottom;
	text-align: center;
}

.dd01 {
	font-family: "ו";
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #000000;
	height: 16px;
	border: 1px solid #999999;
}
