HTML {
	OVERFLOW-Y: auto; OVERFLOW-X: hidden
}
BODY {
	FONT-SIZE: 12px; LINE-HEIGHT: 22px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.href1 {
	PADDING-LEFT: 10px; BACKGROUND: url(images/m_arrow.gif) #6ad2e5 no-repeat 4px center; HEIGHT: 22px
}
.href1 A {
	FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.href2 {
	PADDING-LEFT: 10px; BACKGROUND: url(images/m_arrow1.gif) #ffffff no-repeat 4px center; HEIGHT: 22px
}
.href2 A {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
.grey_table1 {
	BACKGROUND-COLOR: #bbbbbb
}
.grey_td1 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #f5f5f5; TEXT-ALIGN: center
}
.grey_td2 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #8ec2ee; TEXT-ALIGN: center
}
.grey_td1 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.grey_td2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.grey_td2 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.green_table1 {
	BACKGROUND-COLOR: #80ba16
}
.green_td1 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #f4fce5; TEXT-ALIGN: center
}
.green_td2 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #8ec2ee; TEXT-ALIGN: center
}
.green_td1 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.green_td2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.green_td2 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.red_table1 {
	BACKGROUND-COLOR: #ff8a5e
}
.red_td1 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #fbf8e9; TEXT-ALIGN: center
}
.red_td2 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #8ec2ee; TEXT-ALIGN: center
}
.red_td1 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.red_td2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.red_td2 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.purple_table1 {
	BACKGROUND-COLOR: #e68cca
}
.purple_td1 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #fef2fc; TEXT-ALIGN: center
}
.purple_td2 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #8ec2ee; TEXT-ALIGN: center
}
.purple_td1 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.purple_td2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.purple_td2 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.orange_table1 {
	BACKGROUND-COLOR: #ffda8c
}
.orange_td1 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #fbf1d8; TEXT-ALIGN: center
}
.orange_td2 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #8ec2ee; TEXT-ALIGN: center
}
.orange_td1 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.orange_td2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.orange_td2 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.blue_table1 {
	BACKGROUND-COLOR: #4cd0f7
}
.blue_td1 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #f7fdfd; TEXT-ALIGN: center
}
.blue_td2 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #8ec2ee; TEXT-ALIGN: center
}
.blue_td1 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.blue_td2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.blue_td2 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.blue1_table1 {
	BACKGROUND-COLOR: #8dc1f0
}
.blue1_td1 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #f6fafd; TEXT-ALIGN: center
}
.blue1_td2 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #8ec2ee; TEXT-ALIGN: center
}
.blue1_td1 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.blue1_td2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.blue1_td2 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.pink_table1 {
	BACKGROUND-COLOR: #ff999a
}
.pink_td1 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #fbf2f2; TEXT-ALIGN: center
}
.pink_td2 {
	FONT-SIZE: 13px; WIDTH: 113px; HEIGHT: 31px; BACKGROUND-COLOR: #8ec2ee; TEXT-ALIGN: center
}
.pink_td1 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.pink_td2 A {
	COLOR: #000000; TEXT-DECORATION: none
}
.pink_td2 A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.grey_tableth {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(images/bx015.gif); WIDTH: 116px; COLOR: white; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center
}
.green_tableth {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(images/bx016.gif); WIDTH: 116px; COLOR: white; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center
}
.red_tableth {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(images/bx017.gif); WIDTH: 116px; COLOR: white; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center
}
.purple_tableth {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(images/bx019.gif); WIDTH: 116px; COLOR: white; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center
}
.blue_tableth {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(images/bx018.gif); WIDTH: 116px; COLOR: white; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center
}
.blue1_tableth {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(images/bx020.gif); WIDTH: 116px; COLOR: white; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center
}
.orange_tableth {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(images/bx021.gif); WIDTH: 116px; COLOR: white; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center
}
.pink_tableth {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(images/bx022.gif); WIDTH: 116px; COLOR: white; BACKGROUND-REPEAT: no-repeat; HEIGHT: 27px; TEXT-ALIGN: center
}
.grey_tableta {
	MARGIN-BOTTOM: 0px; WIDTH: 846px; BORDER-BOTTOM: #999999 4px solid
}
.green_tableta {
	MARGIN-BOTTOM: 0px; WIDTH: 846px; BORDER-BOTTOM: #80ba16 4px solid
}
.red_tableta {
	MARGIN-BOTTOM: 0px; WIDTH: 846px; BORDER-BOTTOM: #ff8a5e 4px solid
}
.purple_tableta {
	MARGIN-BOTTOM: 0px; WIDTH: 846px; BORDER-BOTTOM: #e68cca 4px solid
}
.orange_tableta {
	MARGIN-BOTTOM: 0px; WIDTH: 846px; BORDER-BOTTOM: #ffda8c 4px solid
}
.blue_tableta {
	MARGIN-BOTTOM: 0px; WIDTH: 846px; BORDER-BOTTOM: #4cd0f7 4px solid
}
.blue1_tableta {
	MARGIN-BOTTOM: 0px; WIDTH: 846px; BORDER-BOTTOM: #8dc1f0 4px solid
}
.pink_tableta {
	MARGIN-BOTTOM: 0px; WIDTH: 846px; BORDER-BOTTOM: #ff999a 4px solid
}
.addiv {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; MARGIN-TOP: 5px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; MARGIN-BOTTOM: 5px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.addiv1 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 5px; BORDER-RIGHT-WIDTH: 0px
}
.th {
	FONT-SIZE: 14px; BACKGROUND: url(images/bx031.gif) no-repeat; WIDTH: 32px; HEIGHT: 59px; TEXT-ALIGN: center
}
.tdtd1 {
	FONT-SIZE: 12px; BACKGROUND: url(images/bx039.gif) no-repeat center top; WIDTH: 78px; CURSOR: hand; COLOR: white; HEIGHT: 28px; TEXT-ALIGN: center
}
.tdtd2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(images/bx039.gif) no-repeat center bottom; WIDTH: 78px; CURSOR: hand; COLOR: black; HEIGHT: 28px; TEXT-ALIGN: center
}
.chr0 {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; FONT-SIZE: 12px; MARGIN-LEFT: 2px; BORDER-LEFT: #dddddd 1px solid; WIDTH: 50px; CURSOR: hand; LINE-HEIGHT: 18px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.chr1 {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; FONT-SIZE: 12px; MARGIN-LEFT: 2px; BORDER-LEFT: #dddddd 1px solid; WIDTH: 14px; CURSOR: hand; LINE-HEIGHT: 18px; BORDER-BOTTOM: #dddddd 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.chr0_ {
	BORDER-RIGHT: #ffa500 1px solid; BORDER-TOP: #ffa500 1px solid; FONT-SIZE: 12px; MARGIN-LEFT: 2px; BORDER-LEFT: #ffa500 1px solid; WIDTH: 50px; CURSOR: hand; LINE-HEIGHT: 18px; BORDER-BOTTOM: #ffa500 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffcc66; TEXT-ALIGN: center
}
.chr1_ {
	BORDER-RIGHT: #ffa500 1px solid; BORDER-TOP: #ffa500 1px solid; FONT-SIZE: 12px; MARGIN-LEFT: 2px; BORDER-LEFT: #ffa500 1px solid; WIDTH: 14px; CURSOR: hand; LINE-HEIGHT: 18px; BORDER-BOTTOM: #ffa500 1px solid; HEIGHT: 18px; BACKGROUND-COLOR: #ffcc66; TEXT-ALIGN: center
}
.ad0text {
	PADDING-LEFT: 5px; TEXT-ALIGN: left
}
.ad0text A {
	FONT-SIZE: 13px; TEXT-DECORATION: none
}
.ad0text A:hover {
	COLOR: #a00; TEXT-DECORATION: underline
}
.flink {
	PADDING-TOP: 10px
}
.flink A {
	FONT-SIZE: 13px; COLOR: #000000; TEXT-DECORATION: none
}
.flink A:hover {
	COLOR: #aa0000; TEXT-DECORATION: underline
}
.search111_t {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; WIDTH: 90px; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid
}
.search111_s {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 0px; WIDTH: 18px; PADDING-TOP: 0px; HEIGHT: 18px
}
A.LOrange:link {
	FONT-SIZE: 13px; COLOR: orange; TEXT-DECORATION: none
}
A.LOrange:visited {
	FONT-SIZE: 13px; COLOR: orange; TEXT-DECORATION: none
}
A.LOrange:hover {
	FONT-SIZE: 13px; COLOR: yellow; TEXT-DECORATION: underline
}
A.ddaf:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.ddaf:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.ddaf:hover {
	FONT-SIZE: 12px; COLOR: #aa0000; TEXT-DECORATION: underline
}
.adFly {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; Z-INDEX: 1; PADDING-BOTTOM: 0px; WIDTH: 70px; PADDING-TOP: 0px; POSITION: fixed; TOP: 160px
}
.adFly {
	POSITION: absolute; ; TOP: expression(eval(document.documentElement.scrollTop+160))
}
A.icp:link {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.icp:visited {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: none
}
A.icp:hover {
	FONT-SIZE: 12px; COLOR: #000000; TEXT-DECORATION: underline
}
.copytable {
	PADDING-RIGHT: 60px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
.logotd1 {
	WIDTH: 176px; TEXT-ALIGN: right
}
.logotd2 {
	WIDTH: 572px; TEXT-ALIGN: center
}
.logotd3 {
	TEXT-ALIGN: left
}
